<li>
  <%= gravatar_for user, size: Settings._user.size %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to t(".del"), user, method: :delete,
      data: {confirm: t(".sure")} %>
  <% end %>
</li>
