$light-gray: #777;
$gray-medium-light: #eaeaea;
$gray: #555;
$gray-darker: #222;
$gray91: #e8e8e8;
$gray-light: #d3d3d3;
$white-color: white;
$red-color: red;
$state-danger-text: #0000bf;
$gray: gray;
$blue-color: blue;
